registry=https://tradestack-154178079968.d.codeartifact.eu-west-1.amazonaws.com/npm/tradestack-artifactory/
//tradestack-154178079968.d.codeartifact.eu-west-1.amazonaws.com/npm/tradestack-artifactory/:always-auth=true
//tradestack-154178079968.d.codeartifact.eu-west-1.amazonaws.com/npm/tradestack-artifactory/:_authToken=${CODEARTIFACT_AUTH_TOKEN}