@import (reference) '../../base.less';

.@{prefix-cls}-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  min-width: 100px;
  height: 38px;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 12px;
  box-sizing: border-box;
  transition: all .2s;
  font-weight: 500;
  border: solid 1px var(--klinecharts-pro-primary-color);
  &.confirm {
    color: #ffffff;
    background-color: var(--klinecharts-pro-primary-color);
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 1;
    }
  }
  &.cancel {
    color: var(--klinecharts-pro-primary-color);
    border: solid 1px var(--klinecharts-pro-primary-color);
    &:hover {
      background-color: var(--klinecharts-pro-hover-background-color);
    }
  }
}
