@import (reference) '../../base.less';

.@{prefix-cls}-indicator-setting-modal-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    span {
      font-size: 14px;
      color: var(--klinecharts-pro-text-color);
    }
  }
}