@import (reference) '../../base.less';

.@{prefix-cls}-indicator-modal-list {
  height: 440px;
  position: relative;
  .title {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--klinecharts-pro-popover-background-color);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--klinecharts-pro-text-second-color);
    font-weight: 600;
    height: 32px!important;
    padding: 0 12px!important;
    margin: 12px 4px 4px 4px!important;
    border-bottom: 1px solid var(--klinecharts-pro-border-color);
    &:hover {
      background-color: var(--klinecharts-pro-popover-background-color);
    }
    &:first-child {
      margin-top: 0!important;
    }
  }
  .row:hover {
    .klinecharts-pro-checkbox {
      fill: var(--klinecharts-pro-primary-color);
      color: var(--klinecharts-pro-primary-color);
    }
  }
}
